html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
  text-align: center;
  margin-bottom: 32px;
}

.filter-btn{
  outline-color: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @extend %dmsans-700;
  font-size: 16px;
  color: $btn;
  margin-bottom: 80px;
  transition: all .3s;
  &:hover{
    color: #191919;
  }
}

.breadcrumbs{
  padding: 30px 0;
  background-color: #edf1f4;
  text-align: center;
  &__title{
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 15px;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item{
    margin-right: 7px;
    padding-right: 14px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #979ba0;
    position: relative;
    &:last-child{
      margin-right: 0;
      padding-right: 0;
      &::after{
        display: none;
      }
    }
    &::after{
      content: '/';
      position: absolute;
      right: 0;
      top: 0;
      font-size: 14px;
      line-height: 24px;
      color: #979ba0;
    }
  }
  &__link{
    color: inherit;    
  }
}

.btn-link{
  position: relative;
  background-color: $default;
  font-size: 15px;
  color: #fff;
  padding: 22px 98px 22px 25px;
  &::after{
    content: '';
    position: absolute;
    width: 22px;
    height: 9px;
    background-image: url('../images/shape.svg');
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.filter-title{
  display: inline-block;
  @extend %dmsans-700;
  font-size: 18px;
  color: $accent;
  padding-right: 55px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 28px;
  &::after{
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    right: 0;
    top: 10px;
    background-color: #a3bbc8;
  }
}