@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libr';
@import 'global';

.header{
  margin: 52px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



.menu{
  &__list{
    display: flex;
  }
  &__item + .menu__item{
    margin-left: 34px;
  }
  &__item-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $logo;
  }
}

.user{
  display: flex;
  align-items: center;
  text-align: center;
  &__search{
    width: 52px;
    height: 52px;
    margin-right: 20px;
    background-color: #edf1f4;
    border-radius: 50%;
    border: none;
    display: flex;
    &-img{
      margin: auto;
    }
  }

  &__act{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 18px;
    background-color: #fcd7b6;
    border-radius: 50px;
  }
  &__act-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 89px;
    position: relative;
  }
  &__act-left{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 62%;
      background-color: #fde7d3;
      right: 0;
    }
  }
  &__act-left svg{
    fill: #243f4d;
    width: 19px;
  }
  &__link-num{
    position: absolute;
    width: 17px;
    height: 17px;
    right: 24px;
    top: 10px;
    background-color: #fff;
    border-radius: 50%;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 17px;
    color: $logo;
  }
  &__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a3bbc8;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  &__btn-icon{
    display: flex;
  }
  &__btn-icon + .user__btn-icon{
    margin-top: 3px;
  }
  &__btn-icon-c{
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
  }
  &__btn-icon-c + .user__btn-icon-c{
    margin-left: 3px;
  }
}

.footer-top{
  display: flex;
  padding: 45px 0 65px;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__contact-logo{
    margin-bottom: 25px;
    display: inline-block;
  }
  &__item{
    margin-bottom: 10px;
  }
  &__link,
  &__newsletter-text{
    color: $footer;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
  }

  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 58px;
    color: #1f2044;
    margin-bottom: 23px;
    text-transform: uppercase;
  }
  &__nav{
    width: 150px;
    margin-right: 150px;
  }
  &__newsletter{
    max-width: 270px;
  }
  &__newsletter-text{
    margin-bottom: 35px;
  }

  &__form-inner{
    width: 270px;
    display: flex;
  }
  &__form-input{
    width: 170px;
    max-width: 100%;
    background-color: #fef7f0;
    padding: 13px 15px;
    border: none;
    &::placeholder{
      @extend %dmsans-400;
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn{
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 18px;
    cursor: pointer;
  }
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 32px;
  color: $footer;
  padding: 30px 0 30px;
  &__page-link{
  font-size: 14px;
  line-height: 32px;
  color: $footer;
  padding: 0 14px;
  }
  &__page-link + .footer-bottom__page-link{
    border-left: 1px solid $footer;
  }
}

.top-slider{
  &__slider{
    background-color: #fcd7b6;
    background-image: url('../images/decore/ellipse.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 85% center;
    padding: 212px 0 43px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 204px;
  }
  &__title{
    max-width: 470px;
    margin-bottom: 28px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
  }
  &__text{
    max-width: 370px;
    margin-bottom: 39px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
  }
  &__link{
    position: relative;
    background-color: #a3bbc8;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    padding: 22px 98px 22px 25px;
    &::after{
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/shape.svg');
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 10px;
      button{
      border: none;
      border-radius: 50%;
      background-color: #fff;
      width: 30px;
      height: 30px;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 9px;
      color: #243f4d;
      opacity: 0.3;
      }
      &.slick-active{
       button{
        opacity: 1;
         }
      }
    }
  }
}

.info{
  &__inner{
    background-color: #fef7f0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0;
  }
  &__item{
    padding-left: 76px;
    margin: 0 auto;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    max-width: 300px;
  }
  &__support{
    max-width: 280px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/support.svg');
      background-repeat: no-repeat;
      width: 52px;
      height: 52px;
      left: 0;
      top: 10px;
    }
  }
  &__delivery{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/delivery.svg');
      background-repeat: no-repeat;
      width: 52px;
      height: 52px;
      left: 0;
      top: 10px;
    }
  }
  &__payment{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/payment.svg');
      background-repeat: no-repeat;
      width: 52px;
      height: 52px;
      left: 0;
      top: 10px;
    }
  }
}

.product{
  padding: 73px 0 45px;
  
}

.product-filter{
  text-align: center;
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.product-item{
    max-width: 271px;
    height: 380px;
    padding: 25px 15px 37px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
  &__box-img{
    height: 206px;
    overflow: hidden;
    position: relative;
    margin-bottom: 72px;
  }
  &__box-link{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 168px;
    height: 45px;
    margin: 0 auto;
    transition: all .3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300%);
  }
  &:hover{
    .product-item__box-link{
        transform: translateY(0);
      }
  }
  &__link{
    display: inherit;
    background-color: #fff;
    border-radius: 50%;
    padding: 12px;
    path{
      transition: all .3s;
    }
  }
  &__link:hover{
    background-color: #a3bbc8;
      path{
        fill: #fff;
      }
  }
  &__link + .product-filter__link{
    margin-left: 15px;
  }
  &__link-svg{
    width: 22px;
    height: 18px;
  }
  &__img{
    object-fit: cover;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title{
    @extend %dmsans-500;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 12px;
  }
  &__price{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
}

.mixitup-control-active{
  color: $title;
}

.led{
  padding: 140px 0 50px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box + .led__box{
    margin-left: 30px;
  }
}

.led-item{
    background-color: #feefe2;
    max-width: 868px;
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  &__img{
    max-height: 405px;
    object-fit: cover;
    margin-right: 30px;
    margin-bottom: 180px;
  }
  &__content{
    max-width: 345px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 15px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 25px;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #b3b7b5;
    border-radius: 10px;
    max-width: 180px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    path{
      fill: #436372;
    }
  }
}

.desing{
  text-align: center;
  padding: 45px 0 60px;
  &__items{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;
    
  }
}

.desing-item{
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0 0 35px;
  min-height: 247px;
  position: relative;
  
  &__title {
    margin-bottom: 12px;
    max-width: 180px;
    z-index: 2;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 20px;
    color: $title;
  }
  &__subtitle{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
    z-index: 2;
  }
}

.video{
  padding: 60px 0 55px;
  &__inner{
    height: 505px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.insights-partners{
  padding: 55px 0 30px;
}

.insights{
  margin-bottom: -183px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__top-title{
    margin-bottom: 0;
  }
  &__top-title--terms{
    color: #243f4d;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
    padding-right: 26px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
      right: 0;
      top: 5px;
    }
    &.insights__link--terms{
      color: #243f4d;
      &::after{
        background-image: url('../images/icons/shape.svg');
      }
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
  }
  &__img{
    margin-bottom: 33px;
    &::before{
      content: 'NEWS';
      position: absolute;
      height: 30px;
      width: 103px;
      bottom: 0;
      left: 30px;
      color: #fff;
      background-color: #a3bbc8;
      border-radius: 30%;
    }
  }
  &__box{
    padding: 0 29px 25px;
    position: relative;
     &::before{
      content: 'NEWS';
      position: absolute;
      height: 30px;
      width: 103px;
      top: -50px;
      left: 25px;
      color: #fff;
      @extend %poppins-700;
      font-size: 14px;
      line-height: 30px;
      text-transform: uppercase;
      background-color: #a3bbc8;
      border-radius: 35px;
      text-align: center;
    }
  }
  &__text{
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    padding: 0 5px 15px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 18px;
    min-height: 88px;
  }
  &__inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
  }
  &__date{
    margin-right: 20px;
  }
  &__date,
  .insights__autorlink{
    @extend %dmsans-500;
    color: #222933;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.partners{
  background-color: #fef7f0;
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 250px 0 90px;
    &.partners__inner-page{
      padding: 75px 0 90px;
    }
  }
}

.login{
  padding: 115px 0;
  display: flex;
  justify-content: center;
  &__create{
    margin-top: 32px;
    text-align: center;
  }
  &__create-text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #436372;
    margin-bottom: 20px;
  }
  &__create-link{
    display: inline-block;
    padding: 17px 150px;
    border: 2px solid #a3bbc8;
    @extend %rubik-500;
    font-size: 18px;
    color: #243f4d;
  }
}

.login-form{
  width: 470px;
  border-bottom: 2px solid #f6f6f6;
  padding-bottom: 34px;
  &__label,
  &__text{
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__input{
    display: block;
    max-width: 470px;
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 2px solid #f6f6f6;
    margin: 12px 0 25px;
  }
  &__btn{
    width: 100%;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
    @extend %rubik-500;
    font-size: 18px;
    color: #fff;
    padding: 19px 0;
    margin-bottom: 31px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label-checkbox{
    cursor: pointer;
  }
  &__input-check{
    @extend %checkbox;
    &:checked + .login-form__checkbox{
      background-image: url('../images/icons/check-on.svg');
      background-repeat: no-repeat;
      background-position: 80% center;

    }
  }
  &__checkbox{
    padding: 0 8px;
    background-color: #ebebeb;
    border-radius: 2px;
    margin-right: 12px;
  }
  &__link{
    color: inherit;
  }
}

.terms{
  padding: 114px 0 70px;
  .terms__title{
    @extend %rubik-500;
    font-size: 24px;
    color: #243f4d;
    margin-bottom: 20px;
  }
  &__title-link{
    color: inherit;
  }
  ol.terms__list{
    padding-left: 26px;
    list-style-type: decimal-leading-zero;
    margin-bottom: 70px;
  }
  &__item,
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 27px;
  }
  &__text{
    margin-bottom: 64px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}








@import 'media';

