@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libr';
@import 'global';

.header{
  margin: 52px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



.menu{
  &__list{
    display: flex;
  }
  &__item + .menu__item{
    margin-left: 34px;
  }
  &__item-link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $logo;
  }
}

.user{
  display: flex;
  align-items: center;
  text-align: center;
  &__search{
    width: 52px;
    height: 52px;
    margin-right: 20px;
    background-color: #edf1f4;
    border-radius: 50%;
    border: none;
    display: flex;
    &-img{
      margin: auto;
    }
  }

  &__act{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 18px;
    background-color: #fcd7b6;
    border-radius: 50px;
  }
  &__act-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 89px;
    position: relative;
    img{
      width: 19px;
    }
  }
  &__act-left{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 62%;
      background-color: #fde7d3;
      right: 0;
    }
  }
  &__act-left svg{
    fill: $accent;
    width: 19px;
  }
  &__link-num{
    position: absolute;
    width: 17px;
    height: 17px;
    right: 24px;
    top: 10px;
    background-color: #fff;
    border-radius: 50%;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 17px;
    color: $logo;
  }
  &__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a3bbc8;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  &__btn-icon{
    display: flex;
  }
  &__btn-icon + .user__btn-icon{
    margin-top: 3px;
  }
  &__btn-icon-c{
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
  }
  &__btn-icon-c + .user__btn-icon-c{
    margin-left: 3px;
  }
}

.footer-top{
  display: flex;
  padding: 45px 0 65px;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__contact-logo{
    margin-bottom: 25px;
    display: inline-block;
  }
  &__item{
    margin-bottom: 10px;
  }
  &__link,
  &__newsletter-text{
    color: $footer;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
  }

  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 58px;
    color: #1f2044;
    margin-bottom: 23px;
    text-transform: uppercase;
  }
  &__nav{
    width: 150px;
    margin-right: 150px;
  }
  &__newsletter{
    max-width: 270px;
  }
  &__newsletter-text{
    margin-bottom: 35px;
  }

  &__form-inner{
    width: 270px;
    display: flex;
  }
  &__form-input{
    width: 170px;
    max-width: 100%;
    background-color: #fef7f0;
    padding: 13px 15px;
    border: none;
    &::placeholder{
      @extend %dmsans-400;
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn{
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 18px;
    cursor: pointer;
  }
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 32px;
  color: $footer;
  padding: 30px 0 30px;
  &__page-link{
  font-size: 14px;
  line-height: 32px;
  color: $footer;
  padding: 0 14px;
  }
  &__page-link + .footer-bottom__page-link{
    border-left: 1px solid $footer;
  }
}

.top-slider{
  &__slider{
    background-color: #fcd7b6;
    background-image: url('../images/decore/ellipse.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 85% center;
    padding: 212px 0 43px;
  }
  &__item{
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 204px;
  }
  &__title{
    max-width: 470px;
    margin-bottom: 28px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $accent;
  }
  &__text{
    max-width: 370px;
    margin-bottom: 39px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
  }
  &__link{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 10px;
      button{
      border: none;
      border-radius: 50%;
      background-color: #fff;
      width: 30px;
      height: 30px;
      @extend %rubik-500;
      font-size: 11px;
      line-height: 9px;
      color: $accent;
      opacity: 0.3;
      }
      &.slick-active{
       button{
        opacity: 1;
         }
      }
    }
  }
}

.info{
  &__inner{
    background-color: #fef7f0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0;
  }
  &__item{
    padding-left: 76px;
    margin: 0 auto;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    max-width: 300px;
  }
  &__support{
    max-width: 280px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/support.svg');
      background-repeat: no-repeat;
      width: 52px;
      height: 52px;
      left: 0;
      top: 10px;
    }
  }
  &__delivery{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/delivery.svg');
      background-repeat: no-repeat;
      width: 52px;
      height: 52px;
      left: 0;
      top: 10px;
    }
  }
  &__payment{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/payment.svg');
      background-repeat: no-repeat;
      width: 52px;
      height: 52px;
      left: 0;
      top: 10px;
    }
  }
}

.product{
  padding: 73px 0 45px;
  
}

.product-filter{
  text-align: center;
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.product-item{
    max-width: 271px;
    padding-bottom: 37px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    text-align: center;
    
  &__box-img{
    height: 250px;
    overflow: hidden;
    margin-bottom: 72px;
    position: relative;
  }
  &__img{
    object-fit: cover;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__img--bag{
    left: 55%;
  }
  &__box-link{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    width: 168px;
    height: 45px;
    margin: 0 auto;
    transition: all .3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300%);
  }
  &:hover{
    .product-item__box-link{
        transform: translateY(0);
      }
  }
  &__link{
    display: inherit;
    background-color: #fff;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    border: none;
    path{
      transition: all .3s;
    }
  }
  &__link:hover{
    background-color: #a3bbc8;
      path{
        fill: #fff;
      }
  }
  &__link + .product-filter__link{
    margin-left: 15px;
  }
  &__link-svg{
    width: 22px;
    height: 18px;
  }

  &__title{
    @extend %dmsans-500;
    font-size: 16px;
    color: $accent;
    margin-bottom: 12px;
  }
  &__price{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
}

.mixitup-control-active{
  color: $title;
}

.led{
  padding: 140px 0 50px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box + .led__box{
    margin-left: 30px;
  }
}

.led-item{
    background-color: #feefe2;
    max-width: 868px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  &__img{
    max-height: 405px;
    object-fit: cover;
    margin-right: 30px;
    margin-bottom: 85px;
    margin-top: -95px;
  }
  &__content{
    max-width: 345px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: $accent;
    margin-bottom: 15px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 25px;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #b3b7b5;
    border-radius: 10px;
    max-width: 180px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    path{
      fill: #436372;
    }
  }
}

.desing{
  text-align: center;
  padding: 45px 0 60px;
  &__items{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;
    
  }
}

.desing-item{
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0 0 35px;
  min-height: 247px;
  position: relative;
  
  &__title {
    margin-bottom: 12px;
    max-width: 180px;
    z-index: 2;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 20px;
    color: $title;
  }
  &__subtitle{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
    z-index: 2;
  }
}

.video{
  padding: 60px 0 55px;
  &__inner{
    height: 505px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.insights-partners{
  padding: 450px 0 30px;
  &__wrapper{
    background-color: #fef7f0;
    padding-top: 20px;
  }
}

.insights{
  &__container{
    margin-top: -356px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__top--accent{
    .insights__top-title,
    .insights__link{
      color: $accent;
    }
  }
  &__top-title{
    margin-bottom: 0;
  }
  &__top-title--terms{
    color: $accent;
  }
  &__link{
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
    padding-right: 26px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 6px;
      height: 10px;
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
      right: 0;
      top: 5px;
    }
    &.insights__link--terms{
      color: $accent;
      &::after{
        background-image: url('../images/icons/shape.svg');
      }
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    border-radius: 5px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
  }
  &__img{
    margin-bottom: 33px;
    max-width: 370px;
    height: 250px;
  }
  &__box{
    padding: 0 29px 25px;
    position: relative;
  }
  &__news{
    position: absolute;
    padding: 0 30px;
    top: -50px;
    left: 25px;
    color: #fff;
    @extend %poppins-700;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #a3bbc8;
    border-radius: 35px;
    text-align: center;
  }
  &__text{
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    padding: 0 5px 15px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 18px;
    min-height: 88px;
  }
  &__inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
  }
  &__date{
    margin-right: 20px;
    padding-left: 25px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url(../images/icons/calendar.svg);
    }
  }
  &__date,
  .insights__autorlink{
    @extend %dmsans-500;
    color: #222933;
    font-size: 12px;
    text-transform: uppercase;
  }
  &__autorlink{
    padding-left: 27px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 18px;
      height: 16px;
      background-image: url(../images/icons/admin.svg);
    }
  }
}

.partners{
  background-color: #fef7f0;
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0 90px;
    &.partners__inner-page{
      padding: 75px 0 90px;
    }
  }
}

.login{
  padding: 115px 0;
  display: flex;
  justify-content: center;
  &__create{
    margin-top: 32px;
    text-align: center;
  }
  &__create-text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #436372;
    margin-bottom: 20px;
  }
  &__create-link{
    display: inline-block;
    padding: 17px 150px;
    border: 2px solid #a3bbc8;
    @extend %rubik-500;
    font-size: 18px;
    color: $accent;
  }
}

.login-form{
  width: 470px;
  border-bottom: 2px solid #f6f6f6;
  padding-bottom: 34px;
  &__label,
  &__text{
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__input{
    display: block;
    max-width: 470px;
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 2px solid #f6f6f6;
    margin: 12px 0 25px;
  }
  &__btn{
    width: 100%;
    background-color: #a3bbc8;
    border: none;
    cursor: pointer;
    @extend %rubik-500;
    font-size: 18px;
    color: #fff;
    padding: 19px 0;
    margin-bottom: 31px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__label-checkbox{
    cursor: pointer;
  }
  &__input-check{
    @extend %checkbox;
    &:checked + .login-form__checkbox{
      background-image: url('../images/icons/check-on.svg');
      background-repeat: no-repeat;
      background-position: 80% center;

    }
  }
  &__checkbox{
    padding: 0 8px;
    background-color: #ebebeb;
    border-radius: 2px;
    margin-right: 12px;
  }
  &__link{
    color: inherit;
  }
}

.terms{
  padding: 114px 0 70px;
  .terms__title{
    @extend %rubik-500;
    font-size: 24px;
    color: $accent;
    margin-bottom: 20px;
  }
  &__title-link{
    color: inherit;
  }
  ol.terms__list{
    padding-left: 26px;
    list-style-type: decimal-leading-zero;
    margin-bottom: 70px;
  }
  &__item,
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 27px;
  }
  &__text{
    margin-bottom: 64px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.catalog{
  padding: 117px 0 115px;
  &__inner{
    display: flex;
  }
  &__content{
    max-width: 870px;
    width: 100%;
  }
  &__content-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  &__item{
    max-width: 270px;
    width: 100%;
    margin-bottom: 40px;
  }
}

.filters{
  width: 270px;
  margin-right: 30px;
}

.filter-category{
  margin-bottom: 65px;
}

.filter-form{
  &__label{
    display: block;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 43px;
    color: $accent;
    position: relative;
    cursor: pointer;
  }
  &__input{
    @extend %checkbox;
    &:checked + .filter-form__checkbox{
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }
  &__checkbox{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 43px;
    color: $accent;
    padding: 0 22px 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.filter-prise{
  margin-bottom: 82px;
  &__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__num{
    @extend %rubik-400;
    font-size: 14px;
    color: $accent;
  }
}

.irs--flat .irs-line {
  top: 10px;
  height: 3px;
  background-color: #c2d2db;
}

.irs--flat .irs-bar {
    top: 9px;
    height: 5px;
    background-color: #a3bbc8;
}

.irs--flat .irs-min,
.irs--flat .irs-max{
  display: none;
}

.irs-from,
.irs-to,
.irs-single{
  display: none;
}

.irs--flat .irs-handle {
    top: 4px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.filter-brand{
  margin-bottom: 60px;
  &__num{
    color: #b3b3b3;
  }
  .filter-form__input{
    &:checked + .filter-brand__checkbox{
      .filter-brand__num{
        color: $accent;
      }
    }
  }
}

.resent-item{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 20px;
  &.resent-item--big{
    align-items: center;
    margin-bottom: 40px;
    .resent-item__img-link{
      margin-right: 55px;
      width: 370px;
      height: 500px;
    }
    .resent-item__content-inner{
      display: block;
    }
    .resent-item__content-title{
      font-size: 40px;
      margin-bottom: 23px;
    }
    .resent-item__content-link{
      font-size: inherit
    }
    .resent-item__star{
      margin-bottom: 37px;
      svg{
        width: 18px;
        height: 18px;
      }
    }
    .resent-item__content-price{
      font-size: 30px;
    }
  }
  &__content-inner{
    display: none;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 42px;
  }
  &__link-box{
    display: flex;
  }
  &__link{
    padding: 11px 14px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    svg{
      width: 22px;
    }
    path{
      fill: #a7becb;
    }
    &:hover{
      background-color: #a3bbc8;
      path{
        fill: #fff;
      }
    }
  }
  &__link + .resent-item__link{
    margin-left: 11px;
  }
  &__img-link{
    margin-right: 16px;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
    object-fit: cover;
  }
  &__content{
    max-width: 415px;
  }
  &__content,
  &__content-link{
    @extend %rubik-400;
    font-size: 14px;
    color: #333;
  }
  &__content-title{
    margin-bottom: 10px;
  }
  &__content-price{
    font-size: 15px;
  }
  &__star{
    margin-bottom: 10px;
    padding: 0;
    svg{
      width: 11px;
      height: 11px;
    }
  }
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  &__list{
    display: flex;
  }
  &__link{
    padding: 15px 20px;
    border: 1px solid #a3bbc8;
    @extend %rubik-400;
    font-size: 16px;
    color: $accent;
    &.pagination__link--active{
      background-color: #a3bbc8;
      color: #fff;
    }
  }
  &__item + .pagination__item{
    margin-left: 15px;
  }
  &__prev{
    display: none;
    &.pagination__prev--active{
      display: block;
      margin-right: 15px;
    }
  }
  &__next{
    display: none;
    &.pagination__next--active{
      display: block;
      margin-left: 15px;
    }
  }

  
}

.mission{
  padding: 120px 0 60px;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__img{
    max-width: 575px;
    height: 680px;
    margin-right: 45px;
    object-fit: cover;
  }
  &__content{
    width: 570px;
  }
  &__content-box{
    display: flex;
    align-items: center;
    width: 290px;
    margin-bottom: 10px;
  }
  &__content-num{
    @extend %rubik-700;
    font-size: 140px;
    color: #a3bbc8;
    margin-right: 20px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
  }
  &__content-item{
    margin-bottom: 60px;
  }
  &__tetle{
    @extend %dmsans-700;
    font-size: 36px;
    color: $accent;
    margin-bottom: 30px;
  }
  &__num-items{
    padding-top: 25px;
    border-top: 2px solid #e6eaf0;
    display: flex;
    align-items: center;
  }
  &__num-item{
    padding: 0 25px 0 58px;
    margin-right: 25px;
    @extend %dmsans-700;
    font-size: 16px;
    color: #4c4c4c;
    border-right: 1px solid #e6eaf0;
    position: relative;
    &:last-child{
      padding-right: 0;
      border: none;
      margin-right: 0;
    }
  }
  &__num-val{
    @extend %dmsans-700;
    font-size: 36px;
    color: $accent;
  }
  &__num-img{
    position: absolute;
    top: 10px;
    left: 0;
  }
}

.mission-info{
  background-color: #fcd7b6;
  padding: 80px 0;
  margin: 60px 0;
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $accent;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 32px;
  }
  &__num{
    font-size: 36px;
    margin: 13px 0 19px;
  }
}

.team{
  padding-top: 60px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 320px;
  }
  &__title{
    font-size: 36px;
    color: $accent;
    margin-bottom: 35px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 35px;
  }
  &__link{
    @extend %poppins-700;
    font-size: 15px;
    line-height: 55px;
    padding: 15px 60px 15px 15px;
    border-radius: 5px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }
  &__item{
    max-width: 370px;
    position: relative;
  }
  &__img{
    max-width: 370px;
    height: 320px;
    object-fit: cover;
  }
  &__contact{
    position: relative;
    z-index: 2;
    margin-top: -48px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    padding: 28px 23px;
    max-width: 325px;
    display: flex;
    align-items: center;
  }
  &__contact-info{
    margin-right: 50px;
    max-width: 160px;
  }
  &__contact-title{
    @extend %dmsans-700;
    font-size: 22px;
    color: #436372;
    margin-bottom: 16px;
  }
  &__contact-text{
    @extend %rubik-400;
    font-size: 16px;
    height: 30px;
    color: #565872;
  }
  &__social{
    display: flex;
  }
  &__social-link + .team__social-link{
    margin-left: 5px;
  }
  &__social-link{
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product-column{
  padding: 115px 0 120px;
  &__wrapper{
    display: flex;
  }
  &__inner{
    max-width: 860px;
    width: 100%;
  }
  .pagination{
    justify-content: flex-start;
  }
  &__items{
    margin-bottom: 70px;
  }
}

.product-one{
  padding: 120px 0 60px;
  &__inner{
    display: flex;
  }
  &__content{
    max-width: 555px;
  }
  &__slider{
    margin-right: 65px;
  }
  &__content-title,
  &__content-price{
    @extend %rubik-400;
    color: #333;
  }
  &__content-title{
    font-size: 40px;
    margin-bottom: 20px;
  }
  &__content-link{
    color: inherit;
  }
  &__content-star{
    margin-bottom: 25px;
    svg{
      width: 18px;
      height: 18px;
      margin-right: 15px;
    }
    &.jq-ry-container{
      width: 155px !important;
    }
  }
  &__content-price{
    display: block;
    font-size: 30px;
    margin-bottom: 25px;
  }
  &__content-text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 25px;
  }
  &__content-btn{
    margin-left: 15px;
    padding: 20px 51px;
    border: none;
    background-color: #a3bbc8;
    border-radius: 5px;
    @extend %rubik-400;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__form{
    margin-bottom: 45px;
  }
}

.product-slider{
  display: flex;
  .slick-vertical .slick-slide{
    height: 160px;
    margin-bottom: 25px;
    outline: none;
  }
  &__thumb{
    max-width: 140px;
    margin-right: 25px;
  }
  &__big{
    width: 388px;
  }
  &__thumb-item,
  &__big-item{
    border: 2px solid #f2f2f2;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    position: relative;
  }
  &__thumb-item{
    margin-bottom: 25px;
    height: 160px;
    width: 140px;
    img{
      max-width: 136px;
      height: 154px;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__big-item{
    width: 388px;
    height: 534px;
    img{
      object-fit: cover;
      max-width: 384px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.jq-number{
  padding: 0;
  position: relative;
}

.jq-number__field{
  width: 148px;
  border: 1px solid #a3bbc8;
  border-radius: 0;
  box-shadow: none;
  
}

.jq-number__field input {
  height: 51px;
  width: 100%;
  padding: 8px 9px;
  outline: none;
  background: none;
  color: #333;
  text-align: center;
  border: none;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 49px;
  height: 53px;
  border: none;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  cursor: pointer;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 1px;
    border: none;
    background-color: #333;
  }
}

.jq-number__spin.minus {
  left: 0;
  border: 1px solid #a3bbc8;
}

.jq-number__spin.plus{
  right: 0;
  border: 1px solid #a3bbc8;
}

.jq-number__spin.minus::after,
.jq-number__spin.plus::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}

.jq-number__spin.plus::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 8px;
  width: 1px;
  background-color: #333;
}

.jq-number__spin:hover {
  background: none;
}

.product-info{
  &__item{
    display: flex;
    margin-bottom: 15px;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
  }
  &__text{
    margin: 0 5px;
  }
  &__link{
    color: inherit;
  }
}

.product-tabs{
  padding: 50px 0 60px;
  &__top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__top-item + .product-tabs__top-item{
    margin-left: 13px;
  }
  &__top-item{
    padding: 5px 10px;
    @extend %rubik-500;
    font-size: 18px;
    line-height: 40px;
    color: $accent;
    text-align: center;
    max-width: 240px;
    width: 100%;
    background-color: #edf1f4;
    border-radius: 4px;
  }
  &__top-item--active{
    color: #fff;
    background-color: #a3bbc8;
  }
  &__content-item{
    display: none;
  }
  &__content-item.product-tabs__content-item--active{
    display: block;
  }
  &__content-text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
  }
}

.related-products{
  padding-top: 60px;
  &__title{
    text-align-last: left;
  }
  &__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  &__content-item{
    max-width: 270px;
    width: 100%;
    height: 350px;
    .product-item__box-img{
      margin-bottom: 40px;
    }
  }
  .swiper-container{
    padding: 78px 0 20px;
    margin-top: -79px;
  }
  .swiper-slide{
    max-width: 300px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__slide-btn{
    padding: 23px;
    background-color: #fff;
    border: 2px solid $default;
    border-radius: 5px;
    cursor: pointer;
    top: 23px;
    right: 0;
  }
  .swiper-button-prev{
    left: auto;
    right: 70px;
  }
  .swiper-button-prev::after,
  .swiper-button-next:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 9px;
    transform: translate(-50%, -50%);
    
  }
  .swiper-button-prev::after{
    background-image: url('../images/icons/arrow-left.svg');
  }
  .swiper-button-next:after {
     background-image: url('../images/icons/arrow-right.svg');
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
    border: 2px solid #edf1f4;
  }
}

.blog{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__content{
    max-width: 830px;
    width: 100%;
    margin-right: 70px;
  }
  &__item + .blog__item{
    margin-top: 50px;
  }
  &__img-link{
    width: 830px; 
    height: 500px;
    overflow: hidden;
    margin-bottom: 40px;
    display: block;
  }
  &__img{
    object-fit: cover;
    max-width: 830px;
    width: 100%;
  }
  
  &__item-title{
    margin: 40px 0;
    text-align: left;
  }
  &__item-titlelink{
    color: #333;
  }
  &__item-text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $accent;
    margin-bottom: 35px;
  }
  &__item-link{
    padding: 19px 85px 19px 18px;
    border: 1px solid $default;
    color: $default;
    @extend %dmsans-700;
    font-size: 15px;
    display: inline-block;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow-default.svg');
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .pagination{
    justify-content: flex-start;
    margin-top: 70px;
  }
}

.blog-info{
  padding: 20px 23px;
  max-width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $default;
  @extend %dmsans-500;
  font-size: 12px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-top: -109px;
  position: relative;
  &__date,
  &__link{
    position: relative;
    padding-left: 19px;
    &::before{
      content: '';
      position: absolute;
      width: 12px;
      height: 13px;
      top: 0;
      left: 0;
    }
  }
  &__date{
    margin-right: 25px;
    &::before{
      background-image: url('../images/icons/calendar-white.svg');
      top: 8px;
    }
  }
  &__link{
    color: inherit;
    &::before{
      background-image: url('../images/icons/user.svg');
      top: 1px;
    }
  }
}

.search{
  display: flex;
  align-items: center;
  margin-bottom: 57px;
  &__input{
    width: 270px;
    height: 42px;
    @extend %rubik-400;
    font-size: 15px;
    color: $accent;
    padding: 0 58px 0 10px;
    border: 2px solid #edf1f4;
    border-radius: 4px;
    outline: none;
    margin: 0;
  }
  &__btn{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:  #edf1f4;
    padding: 13px 15px;
    margin-left: -47px;
  }
}

.post-item{
  display: flex;
  margin-bottom: 20px;
  &__img-link{
    width: 71px;
    height: 71px;
    overflow: hidden;
    margin-right: 18px;
  }
  &__img{
    max-width: 71px;
    height: 100%;
    object-fit: cover;
  }
  &__content{
    max-width: 161px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }
  &__date-box{
    display: flex;
    align-items: center;
    svg{
      margin-right: 7px;
    }
    path{
      fill: #9a9a9a;
    }
  }
  &__date{
    @extend %rubik-400;
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    color:  #9a9a9a;
  }
}

.blog-one{
  &__img-box{
    overflow: hidden;
    max-width: 830px;
    height: 500px;
    margin-bottom: 25px;
  }
  .blog-info{
    margin-top: -95px;
  }
  &__text{
    h3{
      @extend %rubik-400;
      font-size: 36px;
      color: #333;
      margin: 30px 0;
    }
    p,
    blockquote{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: $accent;
      margin: 35px 0;
    }
  
    .blog-one__subtitle{
      @extend %rubik-500;
      display: block;
    }
  }
  blockquote{
    margin: 45px 0;
    padding: 25px 100px 25px 30px;
    border-left: 6px solid $default;
    background-color: #edf1f4;
    span{
      display: block;
      padding-left: 45px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 3px;
        width: 20px;
        height: 3px;
        transform: translateY(-50%);
        background-color: $default;
      }
    }
  }
  &__img-left{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  &__img-right{
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  &__autor{
    margin-bottom: 60px;
  }
}

.blog-autor{
  padding: 25px 0;
  display: flex;
  align-items: center;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  &__img{
    width: 76px;
    height: 76px;
    object-fit: cover;
    margin-right: 25px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 706px;
    width: 100%;
  }
  &__name{
    @extend %rubik-500;
    font-size: 18px;
    line-height: 25px;
    color: #333;
    margin-bottom: 15px;
  }
  &__prof{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #666;
  }
  &__tags,
  &__share{
    display: flex;
    align-items: center;
    @extend %rubik-400;
    font-size: 16px;
    color: #333;
  }
  &__tags{
    margin-bottom: 15px;
    a{
      color: #999;
      margin-right: 5px;
      line-height: 30px;
      &:hover{
        color: $accent;
      }
    }
    span{
      margin-right: 31px;
    }
  }
  &__share{
    span{
      margin-right: 20px;
    }
    
  }
  &__share-item{
    transition: all .3s;
    a{
      margin-right: 15px;
    }
    path{
      fill: #a1a1a1;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
}

.comments{
  &__title{
    @extend %rubik-700;
    font-size: 24px;
    line-height: 36px;
    color: #436372;
    margin-bottom: 54px;
  }
}

.comment-item{
  display: flex;
  margin-bottom: 30px;
  &__img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
  }
  &__content{
    border-bottom: 1px solid #e0e0e0;
  }
  &__content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
  }
  &__content-name{
    @extend %rubik-700;
    font-size: 16px;
    color: #436372;
  }
  &__content-date{
    @extend %rubik-400;
    font-size: 14px;
    color: #9e9e9e;
  }
  &__content-text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    margin-bottom: 27px;
  }
  &__content-btn{
    display: inline-block;
    color: #516278;
    @extend %rubik-400;
    font-size: 14px;
    padding: 0;
    padding-right: 19px;
    margin-bottom: 30px;
    position: relative;
    border: none;
    background-color: #fff;
    cursor: pointer;
    &::after{
      content: '';
      position: absolute;
      width: 14px;
      height: 16px;
      background-image: url('../images/icons/arrow-right-solid.svg');
      right: 0;
      top: 50%;
      transform: translateY(-50%)
    }
  }
  &.comment-item--reply{
    max-width: 700px;
    margin-left: auto;
    border-bottom: 1px solid #e0e0e0;
    .comment-item__content{
      border-bottom: none;
    }
  }
  &:last-child{
    .comment-item__content{
      border-bottom: none;
    }
  }
}

.comments-form{
  &__title{
    @extend %rubik-700;
    font-size: 24px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 50px;
  }
  &__box-input{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__name,
  &__email{
    max-width: 400px;
    width: 100%;
    display: flex;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      z-index: 5;
    }
  }
  &__name{
    margin-right: 30px;
    &::after{
      width: 14px;
      height: 13px;
      background-image: url('../images/icons/shape-user.svg');
    }
  }
  &__email{
    &::after{
      width: 18px;
      height: 12px;
      background-image: url('../images/icons/shape-mail.svg');
    }
  }
  &__input{
    width: 100%;
    padding: 6px 50px 6px 20px;
    border: 1px solid #e5e5e5;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 36px;
    color: #333;
    position: relative;
    outline-color: $default;
    &::placeholder{
      color: #999999;
    }
  }
  &__textarea{
    display: block;
    padding: 20px 50px 20px 20px;
    width: 100%;
    min-height: 120px;
    border: 1px solid #e5e5e5;
    outline-color: $default;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 36px;
    color: #333;
    resize: none;
    margin-bottom: 40px;
    position: relative;
    &::placeholder{
      color: #999999;
    }
  }
  &__textarea-box{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 18px;
      right: 20px;
      z-index: 5;
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/comment.svg');
    }
  }
  &__btn{
    text-transform: uppercase;
    padding: 20px 35px;
    border: none;
    background-color: $default;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
  }
}


























@import 'media';

